body {
  z-index: 1;
  background: linear-gradient(
    135deg,
    rgba(241, 243, 250, 1),
    rgba(183, 185, 195, 1)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: visible;
}

.center {
  z-index: 3;
  background-color: rgb(255, 255, 255, 0);
  overflow-y: auto;
  overflow: visible;
}

.backdrop-container {
  position: relative;
  background-color: rgb(255, 255, 255, 0);
  overflow: visible;
}

.backdrop-container2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255, 0);
  z-index: 2;
  overflow: visible;
 
}

.backdrop-container-shadow1 {
  position: absolute;
  top: 48%;
  left: 48.5%;
  transform: translate(-50%, -50%);
  z-index: 1;
  overflow: visible;
}

.backdrop-container-shadow2 {
  position: absolute;
  top: 51.8%;
  left: 50.5%;
  transform: translate(-50%, -50%);
  z-index: 0;
  overflow: visible;

}

.app-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: visible;
}

.chat-container {
  width: 500px;
  height: 500px;
  overflow-y: auto;
  /* background-color: rgb(255, 255, 255, 0); */
  /* background-color: dodgerblue; */
  padding: 10px 15px 0;
  
}

.chat-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px; /* 페이드 아웃 되는 높이를 조절하고 싶으면 이 값을 변경하세요. */
  /* background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  ); */
}

.chat-container::-webkit-scrollbar {
  display: none;
}

.chat-container .list {
  margin-top: 12px;
}

.list > .content {
  display: inline-block;
  padding: 8px 18px;
  border-radius: 15px;
  box-shadow: 1px 3px 7px 0.1px rgb(0, 0, 0, 0.6) inset;
  white-space: nowrap;
  overflow: hidden;
}

.chat-container .my-chat {
  text-align: right;
}
.my-chat .content {
  background-color: gold;
}

.chat-container .other-chat {
  text-align: left;
}

.other-chat .content {
  background-color: white;
}

.chat-container .notice {
  font-size: 12px;
  color: rgb(68, 68, 68);
  text-align: center;
  margin-top: 6px;
}

/* .input-container {
  width: 320px;
  display: flex;
  justify-content: space-between;
} */

.input-container > input {
  flex-grow: 1;
}

.entry-test {
  color: red;
  font-weight: bold;
}

.id-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input-chatbar {
  top: 0;
  left: 0;
}

.input-id {
  font-size: 25px;
  border-radius: 10px;
  width: 450px;
  margin: 120px;
  padding: 20px;
  border-radius: 32px;
  border: 0;
  background: none;
  text-align: center;
  outline-width: 0;
}

.input-id-button {
  font-size: 25px;
  border-radius: 30px;
  border: 0;
  background: linear-gradient(
    135deg,
    rgba(224, 225, 232, 0.3),
    rgba(255, 255, 255, 1)
  );
  box-shadow: 8px 8px 15px 0px rgba(37, 37, 60, 0.15),
    -8px -8px 15px 0px rgba(255, 255, 255, 1);
  width: 150px;
  padding: 15px;
}

.input-chatbar {
  border: 0;
  display: inline-block;
  padding: 8px 18px;
  border-radius: 15px;
  box-shadow: 1px 3px 7px 0.1px rgb(0, 0, 0, 0.6) inset;
  white-space: nowrap;
  overflow: hidden;
  font-size: medium;
  max-width: 300px;
  /* background-color: aqua; */
}

input:focus {
  outline: 0px solid black;
  background-color:  rgb(155, 195, 255);
}

.input-txt-send-button {
  border: 0;
  display: inline-block;
  padding: 8px 18px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0);
  font-size: medium;
  box-shadow: 1px 3px 7px 0.1px rgb(0, 0, 0, 0.6);
  white-space: nowrap;
  overflow: hidden;
}




select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.user-list {
  border: 0;
  display: inline-block;
  padding: 8px 18px;
  border-radius: 15px;
  color: black;
  box-shadow: 1px 3px 7px 0.1px rgb(0, 0, 0, 0.6);
  white-space: nowrap;
  overflow: hidden;
}


.user-list option {
  background: black;
  color: #fff;
  padding: 3px 0;
}

.selectBox {
  position: relative;
  display: inline-block;
  font-family: Arial, sans-serif;
}

.label {
  border: 0;
  display: inline-block;
  padding: 8px 18px;
  border-radius: 15px;
  font-size: medium;
  background-color: rgb(155, 195, 255);
  color: black;
  box-shadow: 1px 3px 7px 0.1px rgb(0, 0, 0, 0.6) inset;
  white-space: nowrap;
  overflow: hidden;
 
}

.optionList {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999 !important;
  width: 100%;
  padding: 0;
  margin: 2px 0 0;
  border: 0;
  display: inline-block;
  border-radius: 15px;
  background-color: rgb(247, 247, 247);
  /* color: black; */
  box-shadow: 1px 3px 7px 0.1px rgb(0, 0, 0, 0.6);
  white-space: nowrap;
  overflow: hidden;
  list-style: none;
}

.optionItem {
  padding: 10px;
  cursor: pointer;
  user-select: none;
}

.optionItem:hover {
  background-color: rgb(155, 195, 255);
}

/* 옵션 목록이 열렸을 때와 닫혔을 때의 스타일링 */
.optionList.open {
  display: block;
}

.optionList.closed {
  display: none;
}

/* .chat-container .list:nth-child(1) > .content {
  font-size: 15px;
  max-width: 20px;
  padding: 0px 0px;

  color: rgba(0, 0, 0, 0);
}

.chat-container .list:nth-child(1) {
  margin-top: 0px;
}

.chat-container .list:nth-child(2) > .content {
  font-size: 15px;
  max-width: 25px;
  padding: 4px 12px;

  border-radius: 17px;
  color: rgba(0, 0, 0, 0.1);
}
.chat-container .list:nth-child(2) {
  margin-top: 3px;
}

.chat-container .list:nth-child(3) > .content {
  font-size: 15px;
  max-width: 50px;
  padding: 8px 18px;
  color: rgba(0, 0, 0, 0.4);
}
.chat-container .list:nth-child(3) {
  margin-top: 5px;
}

.chat-container .list:nth-child(4) > .content {
}
.chat-container .list:nth-child(4) {
  margin-top: 7px;
}

.chat-container .list:nth-child(5) > .content {
}
.chat-container .list:nth-child(5) {
  margin-top: 12px;
} */
